@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">

    <h2>Music Store XAMPLE</h2>
    <p>PSC 769 Box 700</p> 
    <p>APO AP 99997-7777</p>
    <p>Phone: 11215-5210</p>
    <p>
        Please note that our business hours are from 9am to 5pm on mon-fri basis. We will only accept calls and general customers within these working times. 
        In emergencies (such as a concert being in danger of shutdown) contact our sound engineering specialist, Petri (06)1515113-333115: note that he expects 
        all calls to be actual emergencies so don't ask him nothing unrelated to such a circumstance, such as asking him to sell you products on a discount.
    </p>

    <p>
        When the concern is service and repair or returns, please consult the 'Delivery' page before contacting us. You may find the answer to your questions there.
    </p>

    <img src="~/img/stock_p4.jpg" />
    
</div>

<div class="text-center">
    <p>If you have questions concerning returns, please consult the 'Delivery' page before contacting us.</p>
    <p>In case you want to contact us, please go to our 'Contact' page.</p>
    <img src="~/img/stock_p5.jpg" />
</div>