@{
    ViewData["Title"] = "Delivery and Dispatch Information";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div class="text-center">

    <h2>Products and Prices</h2>
    <p>The prices can be seen as you view our products. VAT is included.</p>
    <p>We reserve the right to change our prices in our own sole discretion with no prior notice. Mikkelin Musiikki does not recognise any misprints on the website as a liability. 
    Mikkelin Musiikki reserves the right to cancel any order when price discrepancies are concerned. We also reserve the right to regard our own prices in higher value to those on 
    the website that might have old prices listed, due to constant fluctuation of prices. Please, ask the day's price of a product directly from the staff of Mikkelin Musiikki.</p>

    <h2>Payment Methods</h2>
    <p>If you want to order a product from our store, please contact us by email or phone, so we can arrange shipping / payment matters. We will send you an invoice by email. Once 
    you have paid and payment is shown in our account, we will send the package through Matkahuolto services. Shipping costs will be added to the price of the product.</p>

    <h2>Delivery</h2>
    <p>We will ship the products you have ordered as soon as we have received your payment. If any of the goods in your order are out of stock, we will contact you. Our primary 
    goal is to ensure that all products in the online store are in stock as soon as possible.</p>

    <h2>Returns and Warranties</h2>
    <p>Returns must always be discussed and agreed with us in advance. Phone us: 358(0)00 0110011 or email us: info@madeupemaildomain.fi - The products have a warranty granted by the importers!</p>

    <h2>Product defects</h2>
    <p>If the product has a technical defect, it will be serviced under warranty or replaced. In such cases, please contact the staff. Warranty issues are always agreed on a case-by-case basis.</p>

    <h2>Additional Information</h2>
    <p>We do not accept responsibility for typographical errors in the price lists. In case of doubt, contact the staff. There are only a small part of our products on the website. If you do not 
    find the product you are looking for on our website, please contact the staff for further assistance. If the stock balance of the product shows zero, please check the daily price for the 
    product from the staff.</p>
</div>