@{
    ViewData["Title"] = "Privacy";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Our Privacy Policy can be found here:</p>
    <a href="https://www.privacypolicies.com/">www.privacypolicies.com</a>
    <p>Also, here's some cats and dogs for you.</p>
</div>

<section id="animals">
  <div class="gallery">
    <div><img src="~/img/animal/cat_1.png"></div>
    <div><img src="~/img/animal/cat_2.png"></div>
    <div><img src="~/img/animal/cat_3.png"></div>
    <div><img src="~/img/animal/cat_4.png"></div>
    <div><img src="~/img/animal/dog_3.png"></div>
    <div><img src="~/img/animal/dog_2.png"></div>
    <div><img src="~/img/animal/dog_1.png"></div>
  </div>
</section>