
@{
    ViewData["Title"] = "Colourful";
}

<div id="titleandpic" class="col-xs-1" align="center">

    <h1>Colourful</h1>

    <img src="~/pics/abstract.jpg">

</div>

<div id="adangerbutton" class="col-xs-1" align="center">

    <button type="button" class="btn btn-danger">Danger</button>

</div>
