
@{
    ViewData["Title"] = "File Sum";
}

<div class="col-xs-1" align="center">

    <h1>@ViewData["Title"]</h1>

    <h1>FileSum Page showing the sum from ''numbers.txt'' file.</h1>

    <h2>@ViewBag.CalculatedSum</h2>

</div>

