@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="col-xs-1" align="center">

    <h1>@ViewData["Title"]</h1>

    <p>Did you know: you give your data freely to multinational corporations who sell your data to others who lack in security.</p>

</div>


