.vscode
*.exe
/DotNet/.vs
/DotNet/AspNetWebAppDemo/.vs/AspNetWebAppDemo/config
/DotNet/AspNetWebAppDemo/AspNetWebAppDemo.sln
/DotNet/a_VSCode_examples/.vs
/DotNet/a_VSCode_examples/cSharp/bin/Debug/net5.0
/DotNet/a_VSCode_examples/cSharp/obj
/DotNet/AspNetWebAppDemo/.vs/AspNetWebAppDemo
/DotNet/AspNetWebAppDemo/AspNetWebAppDemo/bin/Debug/net5.0
/DotNet/AspNetWebAppDemo/AspNetWebAppDemo/obj
/DotNet/AspNetWebAppDemo/AspNetWebAppDemo/Properties
/DotNet/a_VSCode_examples/cSharp/training.csproj
/DotNet/a_VSCode_examples/cSharp/trainingday_3.csproj
/DotNet/a_VSCode_examples/cSharp3/myApp/bin/Debug/net5.0
/DotNet/a_VSCode_examples/cSharp3/myApp/obj
/DotNet/a_VSCode_examples/cSharp4/bin/Debug/net5.0
/DotNet/a_VSCode_examples/cSharp4/obj
/DotNet/a_VSCode_examples/CSharp5/bin/Debug/net5.0
/DotNet/a_VSCode_examples/CSharp5/obj
/DotNet/a_VSCode_examples/CSharp6/obj
/DotNet/a_VSCode_examples/CSharp7/bin/Debug/net5.0
/DotNet/a_VSCode_examples/CSharp7/obj
/DotNet/CSharp_Consoleapp/bin/Debug/net5.0
/DotNet/CSharp_Game/bin/Debug/net5.0
/DotNet/CSharp_Game/obj
/DotNet/DateTimeDifferenceApp/DateTimeDifferenceApp/.vs/DateTimeDifferenceApp
/DotNet/DateTimeDifferenceApp/DateTimeDifferenceApp/DateTimeDifferenceApp/bin/Debug/net5.0
/DotNet/DateTimeDifferenceApp/DateTimeDifferenceApp/DateTimeDifferenceApp.sln
/DotNet/MvcDatabaseDemo/.vs/MvcDatabaseDemo
/DotNet/MvcDatabaseDemo/MvcDatabaseDemo/bin/Debug/net5.0
/DotNet/MvcDatabaseDemo/MvcDatabaseDemo.sln
/DotNet/MvcDatabaseDemo2/wwwroot/lib
/DotNet/MvcDatabaseDemo2/bin/Debug/net5.0
/DotNet/MvcDatabaseDemo2/obj
/DotNet/MvcDatabaseDemo2/.vs
/DotNet/MvcDatabaseDemo2/Properties
/DotNet/MvcDatabaseDemo2/MvcDatabaseDemo2.sln
/DotNet/MyWebApp/myWebApp/bin/Debug/net5.0
/DotNet/MyWebApp/myWebApp/obj
/DotNet/MyWebApp/myWebApp/wwwroot/lib
/DotNet/NorthWindSQLApp/.vs/NorthWindSQLApp
/DotNet/NorthWindSQLApp/NorthWindSQLApp/bin/Debug/net5.0
/DotNet/NorthWindSQLApp/NorthWindSQLApp.sln
/DotNet/WebAPIDemo/.vs
/DotNet/WebAPIDemo/WebAPIDemo/bin/Debug/net5.0
/DotNet/WebAPIDemo/WebAPIDemo/obj
/DotNet/WebAPIDemo/WebAPIDemo/Properties/launchSettings.json
/React/my-app/node_modules
/XAMK_koulu/taloharkka/materiaali
/XAMK_koulu/taloharkka/harjTaloskene_v302015.pdf
/XAMK_koulu/taloharkka/Petri Helala raportti.docx
/XAMK_koulu/taloharkka/talo_22_helala.png
/demo/demoapp/.vs/demoapp
/demo/demoapp/bin/Debug/net5.0
/demo/demoapp/obj
/demo/demoapp/Properties
/.vs
/DotNet/a_VSCode_examples/cSharp3/myApp/myApp.csproj
/DotNet/a_VSCode_examples/cSharp4/cSharp4.csproj
/DotNet/a_VSCode_examples/CSharp5/CSharp.csproj
/DotNet/a_VSCode_examples/CSharp6/CSharp2.csproj
/DotNet/a_VSCode_examples/CSharp7/trainingday_9.csproj
/DotNet/DateTimeDifferenceApp/DateTimeDifferenceApp/DateTimeDifferenceApp/obj/Debug/net5.0
/DotNet/DateTimeDifferenceApp/DateTimeDifferenceApp/DateTimeDifferenceApp/obj/Release/net5.0
/DotNet/MvcDatabaseDemo/MvcDatabaseDemo/obj/Debug/net5.0/ref
/DotNet/MvcDatabaseDemo/MvcDatabaseDemo/obj/Debug/net5.0/staticwebassets
/DotNet/MvcDatabaseDemo/MvcDatabaseDemo/obj/Release/net5.0
/DotNet/MvcDatabaseDemo/MvcDatabaseDemo/obj
/DotNet/NorthWindSQLApp/NorthWindSQLApp/obj
/DotNet/DateTimeDifferenceApp/DateTimeDifferenceApp/DateTimeDifferenceApp/obj
/DotNet/AspNetWebAppDemo/AspNetWebAppDemo/wwwroot/lib
/DotNet/CSharp_Consoleapp/obj
/MobileDevelopment/MyTestApp/android
/MobileDevelopment/MyTestApp/ios
/MobileDevelopment/MyTestApp/__tests__
/MobileDevelopment/MyTestApp/.buckconfig
/z_waiting_to_do_something/.vs
/MobileDevelopment/MyTestApp
/z_waiting_to_do_something
/demo/demoapp/wwwroot/img/banner.xcf
/demo/demoapp/wwwroot/js
/demo/demoapp/wwwroot/lib
/demo/demoapp/wwwroot/favicon.ico
/demo/demoapp/demoapp.sln
/demo/demoapp/appsettings.Development.json
/demo/demoapp/appsettings.json
/demo/demoapp2/.vs/demoapp2
/demo/demoapp2/bin/Debug/net5.0
/demo/demoapp2/obj
/demo/demoapp2/Properties
/demo/demoapp2/wwwroot/js
/demo/demoapp2/wwwroot/lib
/demo/demoapp2/wwwroot/favicon.ico
/demo/demoapp2/appsettings.Development.json
/demo/demoapp2/appsettings.json
/demo/demoapp2/demoapp2.sln
